.react-datepicker-black {
  background-color: #000 !important; /* black background */
  color: #fff !important;           /* white text */
  border: 1px solid #333 !important;
}

.react-datepicker-black .react-datepicker__day-name,
.react-datepicker-black .react-datepicker__day,
.react-datepicker-black .react-datepicker__header{
  color: #fff !important;
}

.react-datepicker-black .react-datepicker__day:hover {
  background-color: #333 !important;
}

.react-datepicker-black .react-datepicker__navigation-icon::before {
  border-color: #000 !important;
}
